name: publish to nuget

on:
  push:
    branches: [ main ]

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore

    # Publish
    - name: Current Time 2
      uses: srfrnk/current-time@v1.1.0
      id: current-time
      with:
        format: YYYY.M.D.Hm
      env:
        F_TIME: "${{ steps.current-time.outputs.formattedTime }}"
    - name: Publish HumbleVerifier.exe single-file app
      run: dotnet publish --configuration Release --no-build HumbleVerifierConsole
    - name: Pack Library and Console app
      run: dotnet pack --configuration Release /p:Version=${{ steps.current-time.outputs.formattedTime }} --no-build HumbleVerifierLibrary
    - name: Push to nuget
      run: dotnet nuget push HumbleVerifierLibrary/bin/Release/HumbleContractVerifier.${{ steps.current-time.outputs.formattedTime }}.nupkg --api-key ${{secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json