name: publish to nuget

on:
  push:
    branches: [ main ]

jobs:
  publish:

    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: HumbleVerifierLibrary

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore

    # Publish
    - name: Current Time 2
      uses: srfrnk/current-time@v1.1.0
      id: current-time
      with:
        format: YYYY.MM.DD.HHmm
      env:
        F_TIME: "${{ steps.current-time.outputs.formattedTime }}"
      
    - name: Pack
      run: dotnet pack --configuration Release /p:Version=${{ steps.current-time.outputs.formattedTime }} --no-build --output .
    - name: Push
      run: dotnet nuget push NuGet.Workflow.${{ steps.current-time.outputs.formattedTime }}.nupkg --source https://api.nuget.org --api-key ${{secrets.NUGET_API_KEY}}


#     - name: publish on version change
#       id: publish_nuget
#       uses: rohith/publish-nuget@v2
#       with:
#         # Filepath of the project to be packaged, relative to root of repository
#         PROJECT_FILE_PATH: HumbleVerifierLibrary/HumbleVerifierLibrary.csproj
#         # API key to authenticate with NuGet server
#         NUGET_KEY: ${{secrets.NUGET_API_KEY}}
#         VERSION_STATIC: ${{ steps.current-time.outputs.formattedTime }}
